<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Disable logs from Datadog agent -->
    <logger name="datadog" level="OFF"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="LOG_LEVEL_PATTERN" source="logging.level.pattern"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
